/*.choice_loc{
	float: left;
	display: inline;
	margin-right: 5px;
}*/
.choice_content_loc{
	float: left;
	display: inline;
}
.row_loc{
	margin: 10px 25px 25px 25px;
}
.row_answer{
	margin-top: 15px;
}
.exercise_frame{
	padding: 25px;
    margin: 25px;
	border: 1px solid #e9e9e9;
}
.basket_button{
	margin-left: 5px; 
}
.exercise_id_div{
	margin-left: 10px;
	font-size: 16px;
}
.course_sel_div{
	margin-top:10px;
	margin-left:20px;
	margin-bottom:20px; 
}
.button_frame{
	margin: 10px;
	float:right;
	font-size: 16px;
}
.exercise_body_frame{
	margin: 10px;
	font-size: 16px;
}
.kp_step{
	margin: 10px;
	background-color: #f5f5f5;
	font-size: 16px;
}
.step_index{
	height: 1.8em;
	float: left;
	display: inline;
}
.step_content{
	height: 1.8em;
	float: left;
	display: inline;
}
.step_frame{
	margin:10px;
}
.step_kpname{
	height: 1.8em;
	margin-left: 2.5em; 
}
.step_annouce{
	margin-top:5px;
	margin-left: 10px; 
	padding-top: 5px;
}

.basket_pro{
	/*float: right;*/
    width: 102px;
    height: 36px;
    border: 1px solid #DFDFDF;
    padding: 0 5px 0 5px;
    /*margin:25px;*/
    /*margin-right: 25px;*/
    background: #F9F9F9;
    text-align: center;
    /*line-height: 34px;*/
    position: relative;
}
.icon_basket{
    top: 9px;
    width: 18px;
    height: 16px;
    right: 8px;
}
.menu_item{
	display: inline-block;
}
/*.modal_exc{
	width: 800px;
	height:600px;
}*/

.step_answer{
	margin-top: 10px;
	margin-bottom: 10px;
}
.answer_img{
	width: 100%;
    height: 100%;
}